/* ************************* Animations **************** */
input[type=text]:focus {
  border: 1px solid #008552;
}

.send:active {
  background: #008552;
}

.btn:hover {
  background: #36b37e;
  transform: scale(1.2);
  transition-duration: 2s;
  opacity: 100%;
}

.btn:active {
  background: #008552;
}

/* ************************ desktop and laptop screen sizes **************** */

@media (min-width: 768px) {
  .body {
    font-family: "Inter san-serif";
    font-style: normal;
  }

  .headline {
    background-image: url(images/Header-llustration-desktop.svg);
    height: 756px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
    justify-content: center;
    color: #344563;
    padding-top: 2em;
  }

  .nav-item {
    padding-left: 1em;
    text-decoration: none;
    color: #344563;
    font-size: 16px;
  }

  .banner {
    display: flex;
    justify-content: center;
  }

  .headline-title {
    color: #172b4d;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.37px;
    text-align: center;
    margin-right: 50px;
  }

  .t2 {
    color: #36b37e;
  }

  .headline-summary {
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    color: #172b4d;
    margin-left: 100px;
    padding-right: 250px;
  }

  .intro-text {
    width: 920px;
    height: 96px;
    display: flex;
    justify-content: center;
  }

  .sec1-social {
    display: flex;
  }

  .social-links {
    display: flex;
    padding-top: 30px;
    font-size: 25px;
    gap: 30px;
    margin-left: 300px;
  }

  a {
    color: #505f79;
  }

  .headline-button {
    display: flex;
    padding-top: 20px;
    margin-left: 250px;
  }

  .list {
    list-style: none;
  }

  /* ************************ section One Above **************** */

  .section-tag {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 100px;
  }

  .high-container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  .card-flex {
    height: 474px;
    background-color: #ebf0ee;
    border: #cfd0d1 solid 1px;
    border-radius: 8px 8px 8px 8px;
  }

  .description {
    height: 225px;
    margin-top: 249px;
    border-radius: 8px 8px 8px 8px;
    background: #fff;
  }

  .new {
    color: #3a4a42;
    text-align: center;
    padding-top: 15px;
    font-size: 26px;
    line-height: 32px;
  }

  .p-lang {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .btn-btn {
    height: 35px;
    font-size: 15px;
    border-radius: 4px 4px 4px 4px;
    margin: 3px;
    margin-top: 10px;
    color: #3a4a42;
    background: #ebf0ee;
    border: none;
  }

  .btn {
    height: 50px;
    background: #36b37f;
    border-radius: 6px 6px 6px 6px;
    border: none;
    display: flex;
    color: #fff;
    font-size: 19px;
    padding-top: 14px;
    padding-left: 13px;
  }

  .sec2-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  /* ************************ section Two Above **************** */
  .mob-footer-img {
    display: none;
  }

  .mob-img {
    display: none;
  }

  .about {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .about-li {
    display: flex;
    flex-direction: column;
  }

  .ab-head {
    color: #344563;
    font-size: 40px;
    margin-left: 80px;
    margin-left: 200px;
    margin-top: 10px;
  }

  .side2 {
    margin-top: 150px;
  }

  .ab-text {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    color: #42526e;
  }

  .resume {
    width: 200px;
    margin-left: 200px;
  }

  .ab-lang {
    background: #ebf0ee;
    height: 352px;
    margin-top: 50px;
    margin-left: 25px;
  }

  .lang {
    width: 300px;
  }

  .flex-tool {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .ab-btn {
    background: #fff;
    color: #36b37e;
    display: flex;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .container {
    margin-left: 70px;
  }

  .flex-con {
    display: flex;
  }

  .test {
    width: 270px;
    height: 350px;
    color: #36b37e;
    margin: 10px;
    border-radius: 8px 8px 8px 8px;
    background: #ebf0ee;
  }

  .ab-img {
    margin-top: 10px;
  }

  .lang-btn {
    color: #36b37e;
    height: 30px;
    background: #ffff;
    margin-left: 10px;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 5px;
    border: none;
  }

  .btn-pad {
    padding: 0;
    list-style: none;
  }

  .lang-name {
    padding-left: 5px;
  }

  /* ************************ section Three Above **************** */

  .prologue {
    padding-left: 100px;
    height: 1434.3px;
    margin-top: 20px;
  }

  .contact-me {
    margin-top: 100px;
  }

  .contact-sec {
    display: flex;
    margin-top: 100px;
  }

  .close {
    width: 463px;
    height: 256px;
    margin-left: 70px;
  }

  .closure {
    display: flex;
    line-height: 38px;
    color: #172b4d;
    font-size: 30px;
  }

  .ab-form {
    margin-top: 0;
    width: 684px;
    margin-left: 25px;
  }

  input[type="text"] {
    height: 2rem;
    width: 450px;
    margin-bottom: 1rem;
    border-radius: 6px 6px 6px 6px;
    border: #cfd0d1 solid 1px;
    padding-left: 1rem;
    font-size: 1rem;
  }

  input[type="email"] {
    height: 2rem;
    width: 450px;
    margin-bottom: 1rem;
    border-radius: 6px 6px 6px 6px;
    border: #cfd0d1 solid 1px;
    padding-left: 1rem;
    font-size: 1rem;
  }

  textarea {
    height: 70px;
    width: 465px;
    border-radius: 6px 6px 6px 6px;
    border: #cfd0d1 solid 1px;
    font-size: 1rem;
    padding-left: 10px;
  }

  input[type="submit"] {
    padding-bottom: 1rem;
    margin-top: 30px;
  }

  .footer {
    display: flex;
    height: 0;
  }

  .send {
    height: 50px;
    width: 128px;
    background: #36b37f;
    border-radius: 6px 6px 6px 6px;
    border: none;
    display: flex;
    color: #fff;
    font-size: 19px;
    padding-top: 14px;
    padding-left: 13px;
  }

  .left-img {
    margin-left: 452px;
  }

  .ab-soc {
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 10px;
  }

  .ab-mail {
    display: none;
  }
}

/* ****** -----------Mobile version -----------********* */
@media (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .lap-img {
    display: none;
  }

  .desk-img {
    display: none;
  }

  hr {
    display: none;
  }

  #body {
    position: relative;
    height: 6715px;
    width: 375px;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #172b4d;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    color: #28352f;
    padding-left: 26px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
  }

  .headline-image {
    background: url(images/header-illsutration-mobile.svg);
    height: 648px;
  }

  .headline-title {
    font-weight: 700;
    font-size: 35px;
    width: 327px;
    height: 164px;
    text-align: center;
    padding-top: 40px;
  }

  .t2 {
    color: #36b37e;
  }

  .headline-summary {
    width: 327px;
    height: 164px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
    line-height: 28px;
    color: #172b4d;
  }

  .social-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    width: 180px;
    padding-left: 70px;
    font-size: 20px;
  }

  .list {
    list-style: none;
  }

  a {
    color: #172b4d;
  }

  .headline-button {
    padding-top: 35px;
  }

  /* ******************* section one Above *********** */
  .section-tag {
    font-weight: 700;
    font-size: 25px;
    width: 200px;
    text-align: center;
    margin-left: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .grid-container {
    display: grid;
    gap: 16px;
    margin: 20px 25px;
  }

  .grid-items {
    width: 320px;
    height: 474px;
    background-color: #ebf0ee;
    border: #cfd0d1 solid 1px;
    border-radius: 8px 8px 8px 8px;
  }

  .card-flex {
    width: 320px;
    height: 474px;
    background-color: #ebf0ee;
    border: #cfd0d1 solid 1px;
    border-radius: 8px 8px 8px 8px;
  }

  .description {
    height: 225px;
    margin-top: 249px;
    border-radius: 8px 8px 8px 8px;
    background: #fff;
  }

  .new {
    color: #3a4a42;
    text-align: center;
    padding-top: 15px;
    font-size: 26px;
    line-height: 32px;
  }

  .p-lang {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .btn-btn {
    height: 35px;
    font-size: 15px;
    border-radius: 4px 4px 4px 4px;
    margin: 3px;
    margin-top: 10px;
    color: #3a4a42;
    background: #ebf0ee;
    border: none;
  }

  .btn {
    margin-top: 15px;
    height: 50px;
    width: 128px;
    background: #36b37f;
    border-radius: 6px 6px 6px 6px;
    border: none;
    display: flex;
    color: #fff;
    font-size: 19px;
    margin-left: 100px;
    padding-top: 14px;
    padding-left: 13px;
  }

  /* ******************* section Two Above *********** */

  .ab-btn-btn {
    margin-right: 90px;
    width: 160px;
    margin-left: 0;
    padding-left: 10px;
    margin-bottom: 12px;
  }

  .about {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }

  .about-li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 25px;
  }

  .ab-head {
    margin-top: 60px;
    color: #344563;
    font-size: 40px;
  }

  .side2 {
    margin-left: 10px;
  }

  .side1 {
    margin-right: 70px;
  }

  .ab-text {
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    color: #42526e;
  }

  .ab-lang {
    background: #ebf0ee;
    height: 352px;
    margin-top: 50px;
    margin-left: 25px;
  }

  .ab-img {
    margin-top: 20px;
  }

  .ab-title {
    margin-top: 10px;
    padding-top: 0;
    color: #344563;
  }

  .flex-tool {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .ab-li {
    padding: 0;
  }

  .ab-btn {
    background: #fff;
    color: #36b37e;
    display: flex;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
  }

  /* ******************* section Three Above *********** */

  #abt-contact {
    display: flex;
    flex-direction: column;
  }

  .close {
    margin-left: 25px;
    margin-top: 50px;
    background: #fff;
    border: none;
  }

  .closure {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-right: 25px;
  }

  .ab-form {
    margin-left: 25px;
  }

  input[type="text"] {
    height: 3rem;
    width: 20rem;
    margin-bottom: 2rem;
    border-radius: 6px 6px 6px 6px;
    border: #cfd0d1 solid 1px;
    padding-left: 1rem;
    font-size: 1rem;
  }

  input[type="email"] {
    height: 3rem;
    width: 20rem;
    margin-bottom: 2rem;
    border-radius: 6px 6px 6px 6px;
    border: #cfd0d1 solid 1px;
    padding-left: 1rem;
    font-size: 1rem;
  }

  textarea {
    height: 8rem;
    width: 20rem;
    border-radius: 6px 6px 6px 6px;
    border: #cfd0d1 solid 1px;
    padding-left: 1rem;
    font-size: 1rem;
  }

  input[type="submit"] {
    padding-bottom: 1rem;
    margin-top: 30px;
  }

  .send {
    height: 50px;
    width: 128px;
    background: #36b37f;
    border-radius: 6px 6px 6px 6px;
    border: none;
    display: flex;
    color: #fff;
    font-size: 19px;
    padding-top: 14px;
    padding-left: 13px;
  }

  .footer {
    display: flex;
    height: 10px;
  }

  .mob-footer-img {
    margin-left: 300px;
  }

  .ab-social {
    margin-top: 50px;
  }

  .ab-soc {
    font-size: 20px;
    margin-right: 40px;
    color: #42526e;
  }

  .ab-mail {
    text-align: center;
    font-size: 20px;
    color: #42526e;
    margin-bottom: 400px;
  }
}
