@media (min-width: 600px) {
  main {
    flex-wrap: nowrap;
  }
}

.title {
  font-weight: 600;
  line-height: 28px;
}

.headline-image {
  background: url(images/header-illsutration-mobile.svg);
  height: 648px;
}

.headline-title {
  font-weight: 700;
  font-size: 25px;
  width: 327px;
  height: 164px;
  text-align: center;
  padding-top: 40px;
}

.t2 {
  color: #36b37e;
}

.headline-summary {
  width: 327px;
  height: 164px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding-top: 85px;
  line-height: 28px;
  color: #172b4d;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
  width: 180px;
  padding-left: 100px;
  font-size: 20px;
}

.headline-button {
  padding-top: 35px;
}

.list {
  list-style: none;
}

a {
  color: #172b4d;
}

.grid-container {
  display: grid;
  gap: 16px;
  margin: 20px 25px;
}

.grid-items {
  width: 320px;
  height: 474px;
  background-color: #ebf0ee;
  border: #cfd0d1 solid 1px;
  border-radius: 8px 8px 8px 8px;
}

.description {
  height: 225px;
  margin-top: 249px;
  border-radius: 8px 8px 8px 8px;
  background: #fff;
}

.new {
  color: #3a4a42;
  text-align: center;
  padding-top: 15px;
  font-size: 26px;
  line-height: 32px;
}

.btn-btn {
  height: 35px;
  font-size: 15px;
  border-radius: 4px 4px 4px 4px;
  margin: 3px;
  margin-top: 10px;
  color: #3a4a42;
  background: #ebf0ee;
  border: none;
}

.btn {
  margin-top: 15px;
  height: 50px;
  width: 128px;
  background: #36b37f;
  border-radius: 6px 6px 6px 6px;
  border: none;
  display: flex;
  color: #fff;
  font-size: 19px;
  margin-left: 100px;
  padding-top: 14px;
  padding-left: 13px;
}

.btn-btn:hover {
  background: #36b37e;
  color: #fff;
}

.btn-btn:active {
  background: #008552;
}

.btn:hover {
  background: #36b37e;
}

.btn:active {
  background: #008552;
}

.p-lang {
  padding: 0;
  display: flex;
  justify-content: center;
}

.section-tag {
  font-weight: 700;
  font-size: 25px;
  width: 200px;
  text-align: center;
  margin-left: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-li {
  display: flex;
  justify-content: space-between;
}

.ab-li-1 {
  margin-top: 30px;
  margin-left: 100px;
  font-weight: 700px;
  font-size: 25px;
}

.ab-text {
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  font-weight: 400;
  padding: 19px;
  color: #42526e;
}

.ab-btn {
  background: #fff;
  color: #36b37e;
  display: flex;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 10px;
}

.flex-tool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-flex {
  width: 320px;
  height: 474px;
  background-color: #ebf0ee;
  border: #cfd0d1 solid 1px;
  border-radius: 8px 8px 8px 8px;
}

.ab-btn-btn {
  margin-right: 90px;
  width: 160px;
  margin-left: 0;
  padding-left: 10px;
  margin-bottom: 12px;
}

.ab-lang {
  background: #ebf0ee;
  height: 352px;
  margin-top: 50px;
  margin-left: 25px;
}

.ab-li {
  padding: 0;
}

.ab-title {
  margin-top: 10px;
  padding-top: 0;
  color: #344563;
}

.ab-head {
  margin-top: 60px;
  padding-top: 0;
  color: #344563;
  font-size: 40px;
  margin-left: 100px;
}

.ab-img {
  margin-top: 20px;
}

.close {
  margin-left: 25px;
  margin-top: 50px;
  background: #fff;
  border: none;
}

.closure {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.ab-form {
  margin-left: 25px;
}

input[type="text"] {
  height: 3rem;
  width: 20rem;
  margin-bottom: 2rem;
  border-radius: 6px 6px 6px 6px;
  border: #cfd0d1 solid 1px;
  padding-left: 1rem;
  font-size: 1rem;
}

input[type="email"] {
  height: 3rem;
  width: 20rem;
  margin-bottom: 2rem;
  border-radius: 6px 6px 6px 6px;
  border: #cfd0d1 solid 1px;
  padding-left: 1rem;
  font-size: 1rem;
}

input[type="submit"] {
  padding-bottom: 1rem;
  margin-top: 30px;
}

.footer {
  display: flex;
  height: 10px;
}

.footer-img {
  margin-left: 90px;
  margin-bottom: 150px;
}

.ab-social {
  margin-top: 50px;
}

.ab-soc {
  font-size: 25px;
  margin-right: 12px;
  color: #42526e;
}

.ab-mail {
  text-align: center;
  font-size: 20px;
  color: #42526e;
}

textarea {
  height: 8rem;
  width: 20rem;
  border-radius: 6px 6px 6px 6px;
  border: #cfd0d1 solid 1px;
  padding-left: 1rem;
  font-size: 1rem;
}

#tool-bar {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: #28352f;
  padding-left: 26px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-top: 15px;
}

#body {
  position: relative;
  height: 6715px;
  width: 375px;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #172b4d;
}
